.godot/
*.import

batchRepathing/paths.txt
radioBuilder/ffmpeg.exe
ocapDownloader/credentials.json
dependencyCuller/dependencies/*
dependencyCuller/target/*
dependencyCuller/output.txt
radioBuilder/music/*
radioBuilder/music/output.txt

!README.md